version: '3'

services:
  nagios:
    image: jasonrivers/nagios:latest 
    container_name: nagios
    restart: unless-stopped
    volumes:
      - ./custom:/opt/nagios/libexec/custom
      - ./etc:/opt/nagios/etc/
      - ./stylesheets:/opt/nagios/share/stylesheets/
      - ./apache2/:/etc/apache2/sites-enabled/
    networks:
      public:
        ipv4_address: 192.168.239.2
      inverseproxy_shared:
    labels:
      traefik.enable: "true"
      traefik.http.routers.nagios.middlewares: "auth@file"
      traefik.http.routers.nagios.rule: "Host(`{{ nagios_url }}`)"
      traefik.http.routers.nagios.service: "nagios"
      traefik.http.services.nagios.loadbalancer.server.port: "80"

networks:
  inverseproxy_shared:
    external: true
  public:
    ipam:
      driver: default
      config:
        - subnet: "192.168.239.0/24"
