version: '3'

services:
  nagios:
    image: jasonrivers/nagios:latest 
    container_name: nagios
    restart: unless-stopped
    volumes:
      - ./custom:/opt/nagios/libexec/custom
      - ./etc:/opt/nagios/etc/
      - ./stylesheets:/opt/nagios/share/stylesheets/
      - ./apache2/:/etc/apache2/sites-enabled/
    networks:
      auth_default:
      public:

networks:
    auth_default:
        external: true
    public:
