version: '3'

services:
  nagios:
    image: jasonrivers/nagios:latest 
    container_name: nagios
    restart: unless-stopped
    volumes:
      - ./custom:/opt/nagios/libexec/custom
      - ./etc:/opt/nagios/etc/
      - ./stylesheets:/opt/nagios/share/stylesheets/
    networks:
      default:
      inverseproxy_shared:
    labels:
      traefik.docker.network: "inverseproxy_shared"
      traefik.enable: "true"
      traefik.frontend.passHostHeader: "true"
      traefik.port: "80"
      traefik.own.frontend.rule: "Host:{{ nagios_url }}"

networks:
    default:
    inverseproxy_shared:
        external: true
