###############################################################################
# TIMEPERIODS.CFG - SAMPLE TIMEPERIOD DEFINITIONS
#
#
# NOTES: This config file provides you with some example timeperiod definitions
#        that you can reference in host, service, contact, and dependency
#        definitions.
#
#        You don't need to keep timeperiods in a separate file from your other
#        object definitions.  This has been done just to make things easier to
#        understand.
#
###############################################################################



###############################################################################
###############################################################################
#
# TIME PERIODS
#
###############################################################################
###############################################################################

# This defines a timeperiod where all times are valid for checks,
# notifications, etc.  The classic "24x7" support nightmare. :-)
define timeperiod{
        timeperiod_name 24x7
        alias           24 Hours A Day, 7 Days A Week
        sunday          00:00-24:00
        monday          00:00-24:00
        tuesday         00:00-24:00
        wednesday       00:00-24:00
        thursday        00:00-24:00
        friday          00:00-24:00
        saturday        00:00-24:00
        }


# 'none' timeperiod definition
define timeperiod{
        timeperiod_name none
        alias           No Time Is A Good Time
        }


# Conges français
define timeperiod{
        name                    fr-conges
        timeperiod_name         fr-conges
        alias                   FR Conges

        january 1               00:00-00:00     ; Nouvel An
        may 1                   00:00-00:00     ; Fete du travail
        may 8                   00:00-00:00     ; Armistice
        july 14                 00:00-00:00     ; Fete Nationale
        august 15               00:00-00:00     ; Assomption
        november 11             00:00-00:00     ; Armistice
        december 25             00:00-00:00     ; Noel
        }


# Heures travaillées
define timeperiod{
        timeperiod_name heures-ouvres
        alias           heures-ouvres

        use             fr-conges            ; Get holiday exceptions from other timeperiod

        monday          08:00-19:00
        tuesday         08:00-19:00
        wednesday       08:00-19:00
        thursday        08:00-19:00
        friday          08:00-19:00
        }


