input {
  beats {
    port => {{ logstash_port }}
    ssl => true
    ssl_certificate => "/usr/share/logstash/logstash.crt"
    ssl_key => "/usr/share/logstash/logstash.key"
  }
}

filter {
  if [container][image][name] =~ "odoo" {
    grok {
      patterns_dir => ["/usr/share/logstash/patterns"]
      match => {
        "message" => [
          "%{ODOOLOG}",
          "%{INTERNALREQUEST}"
        ]
      }
    }
    date {
      match => [ "timestamp", "yyyy-MM-dd HH:mm:ss,SSS" ]
    }
    geoip {
      source => "source.ip"
    }
  }
}

output {
  if [@metadata][pipeline] {
    elasticsearch {
      hosts => "http://elasticsearch:9200"
      manage_template => false
      index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
      pipeline => "%{[@metadata][pipeline]}"
      user => "elastic"
      password => "secret"
    }
  } else {
    elasticsearch {
      hosts => "http://elasticsearch:9200"
      manage_template => false
      index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
      user => "elastic"
      password => "secret"
    }
  }
}
