[submodule "roles/docker_owncloud"]
	path = roles/docker_owncloud
	url = git@github.com:lefilament/ansible_role_owncloud_docker.git
[submodule "roles/docker_nextcloud"]
	path = roles/docker_nextcloud
	url = git@github.com:lefilament/ansible_role_nextcloud_docker.git
[submodule "roles/docker_odoo"]
	path = roles/docker_odoo
	url = git@github.com:lefilament/ansible_role_odoo_docker.git
[submodule "roles/docker_server"]
	path = roles/docker_server
	url = git@github.com:lefilament/ansible_role_docker_server.git
[submodule "roles/docker_etherpad"]
	path = roles/docker_etherpad
	url = git@github.com:lefilament/ansible_role_etherpad_docker.git
[submodule "roles/docker_framadate"]
	path = roles/docker_framadate
	url = git@github.com:lefilament/ansible_role_framadate_docker.git
[submodule "roles/docker_privatebin"]
	path = roles/docker_privatebin
	url = git@github.com:lefilament/ansible_role_privatebin_docker.git
[submodule "roles/docker_tuleap"]
	path = roles/docker_tuleap
	url = git@github.com:lefilament/ansible_role_tuleap_docker.git
[submodule "roles/docker_mattermost"]
	path = roles/docker_mattermost
	url = https://github.com/lefilament/ansible_role_mattermost_docker
[submodule "roles/docker_gitlab"]
	path = roles/docker_gitlab
	url = https://github.com/lefilament/ansible_role_gitlab_docker
