---

- hosts: all
  become: yes
  gather_facts: no
  roles:
  - { role: raw_server, tags: raw }
  vars:
  - { ansible_become_pass: "{{ host_admin_password }}"}
  - { ansible_ssh_user: "{{ host_admin_user }}" }
  - { ansible_ssh_pass: "{{ host_admin_password }}" }
  - { ansible_ssh_port: 22 }
  - { ansible_connection: paramiko }

- hosts: all
  become: yes
  gather_facts: yes
  roles:
  - { role: init_server, tags: init }
  vars:
  - { ansible_become_pass: "{{ host_admin_password }}"}
  - { ansible_ssh_user: "{{ host_admin_user }}" }
  - { ansible_ssh_pass: "{{ host_admin_password }}" }
  - { ansible_ssh_port: 22 }
  - { ansible_connection: paramiko }
  - { initial_playbook: true }
