# Fail2Ban configuration file
#
# Common settings for sendmail actions
#
# Users can override the defaults in sendmail-common.local

[INCLUDES]

after = sendmail-common.local

[Definition]

# Option:  actionstart
# Notes.:  command executed on demand at the first ban (or at the start of Fail2Ban if actionstart_on_demand is set to false).
# Values:  CMD
#
actionstart = printf %%b "Subject: [Fail2Ban] <name>: demarre sur {{ inventory_hostname | lower }}
              Date: `LC_ALL=C date +"%%a, %%d %%h %%Y %%T %%z"`
              To: <dest>\n
              Bonjour,\n
              La cage <name> a été démarree.\n
              A+,\n
              Fail2Ban" | <mailcmd>

# Option:  actionstop
# Notes.:  command executed once at the end of Fail2Ban
# Values:  CMD
#
actionstop = printf %%b "Subject: [Fail2Ban] <name>: arrete sur {{ inventory_hostname | lower }}
             Date: `LC_ALL=C date +"%%a, %%d %%h %%Y %%T %%z"`
             To: <dest>\n
             Bonjour,\n
             La cage <name> a été stoppee.\n
             A+,\n
             Fail2Ban" | <mailcmd>

# Option:  actioncheck
# Notes.:  command executed once before each actionban command
# Values:  CMD
#
actioncheck =

# Option:  actionban
# Notes.:  command executed when banning an IP. Take care that the
#          command is executed with Fail2Ban user rights.
# Tags:    See jail.conf(5) man page
# Values:  CMD
#
actionban =

# Option:  actionunban
# Notes.:  command executed when unbanning an IP. Take care that the
#          command is executed with Fail2Ban user rights.
# Tags:    See jail.conf(5) man page
# Values:  CMD
#
actionunban =

[Init]

# Your system mail command
#
mailcmd = /usr/sbin/sendmail "<dest>"

# Recipient mail address
#
dest = {{ maintenance_email }}

# Sender mail address
#
sender = {{ inventory_hostname|lower }}_server@{{ inventory_hostname|lower }}.server

# Sender display name
#
sendername = {{ inventory_hostname }}
