# Fail2Ban configuration file
#
# Author: Cyril Jaquier
#
#

[INCLUDES]

before = sendmail-common.conf
         mail-whois-common.conf
         helpers-common.conf

[Definition]

# bypass ban/unban for restored tickets
norestored = 1

# Option:  actionban
# Notes.:  command executed when banning an IP. Take care that the
#          command is executed with Fail2Ban user rights.
# Tags:    See jail.conf(5) man page
# Values:  CMD
#
actionban = ( printf %%b "Subject: [Fail2Ban] <name>: <ip> bannie sur {{ inventory_hostname | lower }}
            Date: `LC_ALL=C date +"%%a, %%d %%h %%Y %%T %%z"`
            To: <dest>\n
            Bonjour,\n
            L'adresse IP <ip> vient d'etre bannie par Fail2Ban apres
            <failures> echecs d'authentification sur <name>.\n\n
            Plus d'information à propos de <ip> :\n
            `/usr/bin/whois <ip> || echo whois absent sur serveur`\n\n
            Lignes contenant les echecs d'authentification d'<ip>\n";
            %(_grep_logs)s;
            printf %%b "\n
            A+,\n
            Fail2Ban" ) | <mailcmd>

[Init]

# Default name of the chain
#
name = default

# Path to the log files which contain relevant lines for the abuser IP
#
logpath = /dev/null

# Number of log lines to include in the email
#
#grepmax = 1000
#grepopts = -m <grepmax>
