#!/bin/bash

# Copyright © 2019 Le Filament (<http://www.le-filament.com>)
# License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).

mkdir -p /home/{{ host_user }}/versions
TODAY=`date +%F`

file="/home/{{ host_user }}/versions/{{ inventory_hostname|lower }}.$TODAY"
latest_file="/home/{{ host_user }}/versions/{{ inventory_hostname|lower }}.latest"
printf "DATE = $TODAY"  > $file
printf "\n\n-- OS version --\n" >> $file
cat /etc/redhat-release >> $file
printf "\n\n-- Installed OS packages --\n" >>  $file
yum list installed  >> $file
printf "\n\n-- Installed Python packages --\n" >> $file
pip list installed >> $file
if [[ -f "/usr/bin/pip3"]]; then
  printf "\n\n-- Installed Python 3 packages --\n" >> $file
  pip3 list installed >> $file
fi
cp $file $latest_file
chmod 644 $file $latest_file
{% if inventory_hostname not in groups.backup_server %}
sftp -P {{ default_sshd_port }} -o IdentityFile=/home/{{ host_user }}/.ssh/id_ed25519 {{ backup_sftp_user }}@{{ hostvars['Server_Backup'].ansible_host }} << COMMANDS
put $file {{ inventory_hostname|lower }}/
quit
COMMANDS
{% endif %}
