#!/bin/bash

# Copyright © 2019 Le Filament (<http://www.le-filament.com>)
# License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).

mkdir -p /home/{{ host_user }}/versions
TODAY=`date +%F`

file="/home/{{ host_user }}/versions/{{ inventory_hostname|lower }}.$TODAY"
latest_file="/home/{{ host_user }}/versions/{{ inventory_hostname|lower }}.latest"
printf "DATE = $TODAY"  > $file
printf "\n\n-- OS version --\n" >> $file
lsb_release -a >> $file
printf "\n\n-- Installed OS packages --\n" >>  $file
apt list --installed  >> $file
printf "\n\n-- Installed Python packages --\n" >> $file
pip list installed >> $file
cp $file $latest_file
chmod 644 $file $latest_file
{% if inventory_hostname not in groups.backup_server %}
sftp -P {{ ansible_ssh_port }} -o IdentityFile=/home/{{ host_user }}/.ssh/id_rsa {{ backup_sftp_user }}@{{ hostvars['Filament_Backup'].ansible_ssh_host }} << COMMANDS
put $file {{ inventory_hostname|lower }}/
quit
COMMANDS
{% endif %}
