# /etc/exports: the access control list for filesystems which may be exported
#               to NFS clients.  See exports(5).
#
# Example for NFSv2 and NFSv3:
# /srv/homes       hostname1(rw,sync,no_subtree_check) hostname2(ro,sync,no_subtree_check)
#
# Example for NFSv4:
# /srv/nfs4        gss/krb5i(rw,sync,fsid=0,crossmnt,no_subtree_check)
# /srv/nfs4/homes  gss/krb5i(rw,sync,no_subtree_check)
#
{% for host in groups['prod'] | intersect(groups['odoo_server']) %}
/mnt/vdb/backup/{{ host|lower }} {{ hostvars[host].ansible_ssh_host }}(rw,sync,all_squash,no_subtree_check,anonuid=1002,anongid=1001)
{% endfor %}
{% for host in groups['owncloud_server'] | intersect(groups['prod']) %}
/mnt/vdb/backup/{{ host|lower }}-owncloud {{ hostvars[host].ansible_ssh_host }}(rw,sync,all_squash,no_subtree_check,anonuid=1002,anongid=1001)
{% endfor %}
{% for host in groups['bluemind_server'] %}
/mnt/vdb/backup/{{ host|lower }} {{ hostvars[host].ansible_ssh_host }}(rw,sync,no_root_squash,no_subtree_check)
{% endfor %}

