#!/bin/bash

# Copyright © 2019 Le Filament (<http://www.le-filament.com>)
# License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).

TODAY=`date +%F`

{% for host in groups['servers'] | difference(groups.backup_server) | sort %}
if [ -f /backup/sftp/{{ host|lower }}/{{ host|lower }}.$TODAY ]
then
    mv /backup/sftp/{{ host|lower }}/{{ host|lower }}.$TODAY /backup/versions/
fi
{% if host in groups['docker'] %}
if [ -f /backup/sftp/{{ host|lower }}/{{ host|lower }}-docker.$TODAY ]
then
    mv /backup/sftp/{{ host|lower }}/{{ host|lower }}-docker.$TODAY /backup/versions/
fi
{% endif %}
{% endfor %}
if [ -f /home/{{ host_user }}/versions/{{ inventory_hostname|lower }}.$TODAY ]
then
    cp -a /home/{{ host_user }}/versions/{{ inventory_hostname|lower }}.$TODAY /backup/versions/
fi
