#!/bin/bash

# Copyright © 2019 Le Filament (<http://www.le-filament.com>)
# License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).


# Configure variables
export OS_AUTH_URL="{{ swift_odoo_authurl }}"
export OS_IDENTITY_API_VERSION={{ swift_odoo_authversion }}
export OS_TENANT_ID="{{ swift_odoo_tenantid }}"
export OS_TENANT_NAME="{{ swift_odoo_tenantname }}"
export OS_USERNAME="{{ swift_odoo_username }}"
export OS_PASSWORD="{{ swift_odoo_password }}"
export OS_REGION_NAME="{{ swift_odoo_regionname }}"

TODAY=`date +%F`

for container in `/usr/local/bin/swift list`
do
    file="/mnt/vdb/backup/odoo/$container.$TODAY"
    printf "DATE = $TODAY"  > $file
    printf "\n\n-- STATS --\n" >>  $file
    /usr/local/bin/swift stat --lh $container >> $file
    printf "\n\n-- LIST FILES --\n" >> $file
    /usr/local/bin/swift list --lh $container >> $file
    cp $file /mnt/vdb/backup/odoo/$container.latest
    chmod 644 $file /mnt/vdb/backup/odoo/$container.latest
done
