## First rule - delete all
-D

## Increase the buffers to survive stress events.
## Make this bigger for busy systems
-b 8192

## This determine how long to wait in burst of events
--backlog_wait_time 0

## Set failure mode to syslog
-f 1

## File System
# Exécution de insmod, rmmod et modprobe
-w /sbin/insmod -p x
-w /sbin/modprobe -p x
-w /sbin/rmmod -p x
# Journaliser les modifications dans /etc/
-w /etc/ -p wa
{% if inventory_hostname in groups.docker %}
## Audit Docker files
-w /home/docker/ -p rwa -k docker
-w /usr/bin/dockerd -p rwxa -k docker
-w /etc/docker -p rwxa -k docker
-w /etc/default/docker -p rwxa -k docker
-w /etc/docker/daemon.json -p rwxa -k docker
-w /var/lib/docker -p rwxa -k docker
-w /lib/systemd/system/docker.service -p rwxa -k docker
-w /lib/systemd/system/docker.socket -p rwxa -k docker
-w /usr/bin/docker-runc -p rwxa -k docker
-w /usr/bin/docker-containerd -p rwxa -k docker
-w /usr/bin/containerd -p rwxa -k docker
{% endif %}

## System Call
# Surveillance de montage/démontage
-a exit,always -F arch=b64 -S mount -S umount2
# Appels de syscalls x86 suspects
-a exit,always -F arch=b64 -S ioperm -S modify_ldt
# Appels de syscalls qui doivent être rares et surveillés de près
-a exit,always -F arch=b64 -S get_kernel_syms -S ptrace
-a exit,always -F arch=b64 -S prctl

# Verrouillage de la configuration de auditd
#-e 2
