version: "2.1"
services:
    backup_auth:
        build:
            context: .
            dockerfile: Dockerfile-postgres
        image: filament/duplicity:postgres
        hostname: backup-auth
        domainname: "{{ sso_url }}"
        environment:
            DST: "swift://auth_{{ inventory_hostname|lower }}"
            PGDATABASE: "none"
            PGPASSWORD: "none"
            PGUSER: "none"
            PASSPHRASE: "{{ srv_proxy_pass }}"
            SWIFT_USERNAME: "{{ swift_odoo_username }}"
            SWIFT_PASSWORD: "{{ swift_odoo_password }}"
            SWIFT_AUTHURL: "{{ swift_odoo_authurl }}"
            SWIFT_AUTHVERSION: {{ swift_odoo_authversion }}
            SWIFT_TENANTNAME: "{{ swift_odoo_tenantname }}"
            SWIFT_TENANTID: "{{ swift_odoo_tenantid }}"
            SWIFT_REGIONNAME: "{{ swift_odoo_regionname }}"
            JOB_200_WHEN: "never"
            JOB_300_WHAT: "dup full $$SRC $$DST"
            JOB_302_WHAT: "dup remove-all-but-n-full 30 --force $$DST $$@"
            JOB_302_WHEN: "daily"
        command:
            - /etc/periodic/daily/jobrunner
        volumes:
            - auth_config:/mnt/backup/src/config:z
            - auth_db:/mnt/backup/src/db:z
            - auth_lemonldap_conf:/mnt/backup/src/lemonldap_conf:z
            - /home/docker/backups/ldap_backup.ldif:/mnt/backup/src/ldap_backup.ldif:z

volumes:
    auth_config:
        external: true
    auth_db:
        external: true
    auth_lemonldap_conf:
        external: true
