<VirtualHost *:80>
        ServerName {{ nagios_url }}

        PerlHeaderParserHandler Lemonldap::NG::Handler

        # Reverse-Proxy
        ProxyPass / http://nagios/

        ProxyPreserveHost on

        ErrorLog /var/log/apache2/nagios_error.log
        CustomLog /var/log/apache2/nagios_access.log combined
</VirtualHost>
