#!/bin/bash

export PGDATABASE=owncloud
export PGHOST=localhost
export PGPASSWORD={{ cloud_pg_pass }}
export PGUSER={{ cloud_pg_user }}

pg_dump --no-owner --no-privileges --file "/root/backup-$PGDATABASE.sql"

export SWIFT_USERNAME="{{ swift_cloud_username }}"
export SWIFT_PASSWORD="{{ swift_cloud_password }}"
export SWIFT_AUTHURL="{{ swift_cloud_authurl }}"
export SWIFT_AUTHVERSION={{ swift_cloud_authversion }}
export SWIFT_TENANTNAME="{{ swift_cloud_tenantname }}"
export SWIFT_TENANTID="{{ swift_cloud_tenantid }}"
export SWIFT_REGIONNAME="{{ swift_cloud_regionname }}"

export PASSPHRASE="{{ cloud_backup_pass }}"

duplicity full --volsize 200 --include /var/www/owncloud/data --include /var/www/owncloud/config --include /root/backup-$PGDATABASE.sql --exclude '**' / swift://owncloud_{{ inventory_hostname|lower }}
duplicity remove-all-but-n-full 4 --force swift://owncloud_{{ inventory_hostname|lower }}
rm /root/backup-$PGDATABASE.sql
