
.tac { padding: 10px 30px; font-family: 'Raleway';}
table.tac { background-color: #fff; display: block; padding: 10px; width: auto; }

.infoBoxBadProcStatus { color: red; }

/* body.tac table.infoBox {background-color:#C4C2C2;color:black;} */

.title { text-align: left;   font-weight: bold;  font-size: large;  background-color: black;  color: white; }
.titleItem { text-align: left;   font-weight: bold;  background-color: black;  color: white; }
.infoBoxBadProcStatus { text-align: left;   font-weight: bold;  background-color: #C4C2C2;  color: red; }

.healthTitle { text-align: left;   font-weight: bold;  font-size: 10pt;  background-color: #f0f0f0;  color: black; }
.healthBox { text-align: left;   font-weight: bold;  background-color: #fff; }
.healthItem { text-align: left;   font-weight: bold;  font-size: 10pt;  background-color: #fff; }
.healthBar { text-align: left;   font-weight: bold;  background-color: #fff; }

.perfTitle { text-align: left; font-size: 14px;  background-color: #f0f0f0; padding-bottom: 5px;  font-weight: bold; }
.perfBox { text-align: left; background-color: #fff;  padding: 10px; }
.perfItem	 { font-size: 12px; text-decoration: none; padding-top: 5px; padding-bottom: 5px }
.perfValue { font-size: 12px; text-decoration: none; padding-top: 5px; padding-bottom: 5px }
.perfBox tr:nth-child(2n+1) { background-color: #f0f0f0; }

.featureTitle { text-align: left; font-size: 14px;  background-color: #fff;  color: black; border-bottom: 2px solid #ddd;  text-transform: uppercase; padding-bottom: 5px; }
.featureHeader { text-align: center; font-size: 14px;  background-color: #fff;  color: #777; border-bottom: 1px solid #ddd; padding-top: 5px; }

.featureEnabled { text-align: center;   font-weight: bold;  font-size: 10pt;  background-color: #ccffcc;  color: #8f8f8f; }
.featureDisabled { text-align: center;   font-weight: bold;  font-size: 10pt;  background-color: #ffcccc;  color: #b3b3b3; }

.featureEnabledFlapDetection { text-align: center;   font-weight: bold;  font-size: 10pt;  background-color: #ccffcc;  color: #8f8f8f; }
.featureDisabledFlapDetection { text-align: center;   font-weight: bold;  font-size: 10pt;  background-color: #ffcccc;  color: #b3b3b3; }
.featureItemEnabledServiceFlapDetection { text-align: left;   background-color: #ccffcc;  color: black; }
.featureItemDisabledServiceFlapDetection { text-align: left;   background-color: #ff0000;  color: black; }
.featureItemEnabledHostFlapDetection { text-align: left;   background-color: #ccffcc;  color: black; }
.featureItemDisabledHostFlapDetection { text-align: left;   background-color: #ff0000;  color: black; }
.featureItemServicesNotFlapping { text-align: left;   background-color: #ccffcc;  color: black; }
.featureItemServicesFlapping { text-align: left;   background-color: #ff0000;  color: black; }
.featureItemHostsNotFlapping { text-align: left;   background-color: #ccffcc;  color: black; }
.featureItemHostsFlapping { text-align: left;   background-color: #ff0000;  color: black; }

.featureEnabledNotifications { text-align: center;   font-weight: bold;  font-size: 10pt;  background-color: #ccffcc;  color: #8f8f8f; }
.featureDisabledNotifications { text-align: center;   font-weight: bold;  font-size: 10pt;  background-color: #ffcccc;  color: #b3b3b3; }
.featureItemEnabledServiceNotifications { text-align: left;   background-color: #ccffcc;  color: black; }
.featureItemDisabledServiceNotifications { text-align: left;   background-color: #ff0000;  color: black; }
.featureItemEnabledHostNotifications { text-align: left;   background-color: #ccffcc;  color: black; }
.featureItemDisabledHostNotifications { text-align: left;   background-color: #ff0000;  color: black; }

.featureEnabledHandlers { text-align: center;   font-weight: bold;  font-size: 10pt;  background-color: #ccffcc;  color: #8f8f8f; }
.featureDisabledHandlers { text-align: center;   font-weight: bold;  font-size: 10pt;  background-color: #ffcccc;  color: #b3b3b3; }
.featureItemEnabledServiceHandlers { text-align: left;   background-color: #ccffcc;  color: black; }
.featureItemDisabledServiceHandlers { text-align: left;   background-color: #ff0000;  color: black; }
.featureItemEnabledHostHandlers { text-align: left;   background-color: #ccffcc;  color: black; }
.featureItemDisabledHostHandlers { text-align: left;   background-color: #ff0000;  color: black; }

.featureEnabledActiveChecks { text-align: center;   font-weight: bold;  font-size: 10pt;  background-color: #ccffcc;  color: #8f8f8f; }
.featureDisabledActiveChecks { text-align: center;   font-weight: bold;  font-size: 10pt;  background-color: #ffcccc;  color: #b3b3b3; }
.featureItemEnabledActiveServiceChecks { text-align: left;   background-color: #ccffcc;  color: black; }
.featureItemDisabledActiveServiceChecks { text-align: left;   background-color: #ff0000;  color: black; }
.featureItemEnabledActiveHostChecks { text-align: left;   background-color: #ccffcc;  color: black; }
.featureItemDisabledActiveHostChecks { text-align: left;   background-color: #ff0000;  color: black; }

.featureEnabledPassiveChecks { text-align: center;   font-weight: bold;  font-size: 10pt;  background-color: #ccffcc;  color: #8f8f8f; }
.featureDisabledPassiveChecks { text-align: center;   font-weight: bold;  font-size: 10pt;  background-color: #ffcccc;  color: #b3b3b3; }
.featureItemEnabledPassiveServiceChecks { text-align: left;   background-color: #ccffcc;  color: black; }
.featureItemDisabledPassiveServiceChecks { text-align: left;   background-color: #ff0000;  color: black; }
.featureItemEnabledPassiveHostChecks { text-align: left;   background-color: #ccffcc;  color: black; }
.featureItemDisabledPassiveHostChecks { text-align: left;   background-color: #ff0000;  color: black; }

.outageTitle { text-align: left; font-size: 14px;  background-color: #fff;  color: black; border-bottom: 2px solid #ddd; text-transform: uppercase; padding-bottom: 5px; }
.outageHeader { text-align: center; font-size: 14px;  background-color: #fff;  color: #777;  text-decoration: none; border-bottom: 1px solid #ddd; padding-top: 5px; }


.outageImportantProblem { text-align: left;   background-color: #ff0000;  color: black; }
.outageUnimportantProblem { text-align: left;   background-color: #ffcccc;  color: black; }


.hostTitle { text-align: left; font-size: 14px;  background-color: #fff;  color: black; border-bottom: 2px solid #ddd; text-transform: uppercase; padding-bottom: 5px; }
.hostHeader { text-align: center; font-size: 14px;  background-color: #fff;  color: #777;  text-decoration: none; border-bottom: 1px solid #ddd; padding-top: 5px; }

.hostImportantProblem { text-align: left;   background-color: #ff0000;  color: black; }
.hostUnimportantProblem { text-align: left;   background-color: #ffcccc;  color: black; }

.serviceTitle { text-align: left; font-size: 14px;  background-color: #fff;  color: black; border-bottom: 2px solid #ddd; text-transform: uppercase; padding-bottom: 5px; }
.serviceHeader { text-align: center; font-size: 14px;  background-color: #fff;  color: #777;  text-decoration: none; border-bottom: 1px solid #ddd; padding-top: 5px; }

.serviceImportantProblem { text-align: left;   background-color: #ff0000;  color: black; }
.serviceUnimportantProblem { text-align: left;   background-color: #ffcccc;  color: black; }

.hostHeader a, .serviceHeader a, .outageHeader a { text-decoration: none; border-bottom: none; }
