# ============================== Filebeat modules ==============================
filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

# ================================== General ===================================
fields_under_root: true

{% if inventory_hostname in groups.docker %}
# ================================ AutoDiscover ================================
filebeat.autodiscover:
  providers:
    - type: docker
      hints.enabled: true
{% if docker_no_namespace is not defined or not docker_no_namespace %}
      hints.default_config:
        type: container
        paths:
          - /var/lib/docker/{{ dockremap_subuid | default("*") }}.{{ dockremap_subgid | default("*") }}/containers/${data.container.id}/*-json.log
{% endif %}

{% endif %}
# ================================== Outputs ===================================
# ------------------------------ Logstash Output -------------------------------
output.logstash:
  # The Logstash hosts
  hosts: ["{{ hostvars['Filament_Dedicated'].ansible_host }}:{{ logstash_port }}"]

  # Set gzip compression level.
  compression_level: 3

  ssl.certificate_authorities:
    - /etc/ssl/certs/logstash.crt

{% if inventory_hostname in groups.docker_elk %}

# ---------------------------- ElasticSearch Output -----------------------------
  #output.elasticsearch:
  #  hosts: ["localhost:9200"]
  #  indices:
  #    - index: "filebeat-%{[agent.version]}-%{+yyyy.MM.dd}"

# ================================= Dashboards ==================================
# ------------------------------ Kibana Dashboards ------------------------------
  #setup.kibana:
  #  host: "localhost:5601"
{% endif %}

# ================================= Processors =================================
processors:
   - drop_fields:
       when:
           has_fields: ['container.name']
       fields: ['docker.container.labels']
       ignore_missing: true
