#!/bin/bash

cd /tmp/
su -c 'pg_dump {{ odoo_db }} --no-owner --no-privileges --format c --file "/tmp/backup-$PGDATABASE.pgdump"' -s /bin/sh {{ odoo_user }}

export SWIFT_USERNAME="{{ swift_odoo_username }}"
export SWIFT_PASSWORD="{{ swift_odoo_password }}"
export SWIFT_AUTHURL="{{ swift_odoo_authurl }}"
export SWIFT_AUTHVERSION={{ swift_odoo_authversion }}
export SWIFT_TENANTNAME="{{ swift_odoo_tenantname }}"
export SWIFT_TENANTID="{{ swift_odoo_tenantid }}"
export SWIFT_REGIONNAME="{{ swift_odoo_regionname }}"

export PASSPHRASE="{{ odoo_backup_pass }}"

duplicity --full-if-older-than 6D --volsize 200 --include /home/odoo/.local/share/Odoo/filestore/ --include /tmp/backup-$PGDATABASE.pgdump --exclude '**' / swift://odoo_{{ inventory_hostname|lower }}
duplicity remove-all-inc-of-but-n-full 1 --force swift://odoo_{{ inventory_hostname|lower }}
duplicity remove-all-but-n-full 4 --force swift://odoo_{{ inventory_hostname|lower }}
