[options]
unaccent = True
admin_passwd = {{ odoo_master_pass }}
db_host = False
db_port = False
db_user = odoo
{% if odoo_db is defined %}
dbfilter = {{ odoo_db }}
{% endif %}
addons_path={{ odoo_home }}/addons,{{ odoo_home }}/custom/addons
logfile = /var/log/odoo/{{ odoo_config_name }}.log
xmlrpc_port = 8069
max_cron_threads = 1
