[Unit]
Description=Odoo Open Source ERP and CRM
Requires=postgresql.service
After=network.target postgresql.service

[Service]
Type=simple
PermissionsStartOnly=true
SyslogIdentifier={{ OE_CONFIG }}
User={{ OE_USER }}
Group={{ OE_USER }}
ExecStart={{ OE_HOME }}/{{ OE_DAEMON }} --config=/etc/{{ OE_CONFIG }}.conf
WorkingDirectory=/opt/odoo/
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
