[Unit]
Description=Odoo Open Source ERP and CRM
Requires=postgresql.service
After=network.target postgresql.service

[Service]
Type=simple
PermissionsStartOnly=true
SyslogIdentifier={{ odoo_config_name }}
User={{ odoo_user }}
Group={{ odoo_user }}
ExecStart={{ odoo_home }}/{{ odoo_bin_name }} --config=/etc/{{ odoo_config_name }}.conf
WorkingDirectory=/opt/odoo/
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
